<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th># Contacts
      <th># Members</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td>
          <%= link_to company.name, company %>
          <% if not company.users.include?(current_user) %>
            <%= link_to 'Join!', company_join_path(company), data: { confirm: 'Are you sure you want to join the company?' }, class: "btn- btn-small btn-success" %>
          <% end %>
        </td>
        <td><%= company.contacts.size %></td>
        <td><%= company.users.size %></td>
        <td><%= company.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>