<%= render 'shared/contextheader' %>

<div class="page-header">
  <h1><%= @company.name %> <small>Company Information</small></h1>
</div>

<div class="row">

  <div class="span9">
    <h3>Contacts:</h3>
    <ul>
      <% if @company.contacts.length == 0 %>
        <div class="well">
          <h3>Nothing here =(</h3>
          You may <%= link_to 'create new contacts', new_company_contact_path(@company) %>, as you wish
        </div>
      <% else %>
        <%= render 'shared/contactlisting' %>
      <% end %>
    </ul>
  </div>

  <div class="span3">
    <p>
      <h3>Actions</h3>
      <% if @company.user != current_user %>
        <% if not @company.users.include?(current_user) %>
          <%= link_to company_join_path(@company), data: { confirm: 'Are you sure you want to join the company?' }, class: "btn btn-success" do %>
            Join company
          <% end %>
        <% else %>
          <%= link_to company_leave_path(@company), data: { confirm: 'Are you sure you wan to leave the company?' }, class: "btn btn-warning" do %>
            Leave company
          <% end %>
        <% end %>
      <% end %>

      <% if @company.users.include?(current_user) %>
        <%= link_to new_company_contact_path(@company), class: "btn" do %>
          <i class="icon-plus"></i> Create new contact
        <% end %>
        <%= link_to edit_company_path(@company), class: "btn" do %>
          <i class="icon-edit"></i> Edit company info
        <% end %>
      <% end %>

      <% if @company.user == current_user %>
        <%= link_to 'Delete company', @company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
    </p>

    <p>
      <h3>Owner</h3>
      <%= @company.user.email %>
    </p>

    <p>
      <h3>Members</h3>
      <ul>
        <% @company.users.each do |member| %>
          <li><%= member.email %></li>
        <% end %>
      </ul>
    </p>
  </div>
</div>