<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @company.user.email %>
</p>

<p>
  <strong>Highrise base url:</strong>
  <%= @company.highrise_base_url %>
</p>

<p>
  <strong>Highrise token:</strong>
  <%= @company.highrise_token %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', :back %>
