<%= @company.user.email %> / <%= link_to @company.name, @company %>

<% if @company.user != current_user %>
  <% if not @company.users.include?(current_user) %>
    (<%= link_to 'Join', company_join_path(@company), data: { confirm: 'Are you sure you want to join the company?' } %>)
  <% else %>
    (<%= link_to 'Leave', company_leave_path(@company), data: { confirm: 'Are you sure you wan to leave the company?' } %>)
  <% end %>
<% end %>

<% if @company.users.include?(current_user) %>
  <%= link_to 'Settings', edit_company_path(@company) %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @company.user.email %>
</p>

<p>
  <strong>Members:</strong>
  <ul>
    <% @company.users.each do |member| %>
        <il><%= member.email %></il>
    <% end %>
  </ul>
</p>