<div class="accountbar">
  <ul>
    <% if user_signed_in? %>
      <li>
        <img class="gravatar" src="<%= gravatar_image_url(current_user.email, size: 25) %>" />
      </li>
      <li><%= current_user.email %></li>
      <li>
        <%= link_to edit_user_registration_path, class: "btn" do %>
          <i class="icon-wrench"></i> Settings
        <% end %>
      </li>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <li><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
  </ul>
</div>
